@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 30px 0px;
}

body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  background-color: #01ffff;
}

.nav-bar {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

nav {
  padding-bottom: 100px;
}

.nav {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 50px;
}

.nav-bar:hover {
  color: rgb(207, 200, 200);
}

.header-nft-buy {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header-nft-buy-text {
  font-size: 0.8rem;
}

.text-header {
  opacity: 0;
}

.header-img {
  height: auto;
  border: 3px solid gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0;

  order: 1;
}

.address-heading {
  padding-top: 20px;
}

.address {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.copy-icon {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  header {
    height: 100vh;
  }

  .nav-bar {
    font-size: 0.5rem;
  }

  nav {
    padding-bottom: 10px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 10px;
  }

  .header-nft-buy {
    flex-direction: column;
    width: 100%;
  }

  .header-nft-buy-text {
    font-size: 0.55rem;
    width: 100%;
  }

  .copy-icon {
    width: 20px;
    height: 20px;
  }

  .header-img {
    width: 100%;
    order: 1;
  }
}
